{% extends "rango/index.html" %}

{% load static %}


    {% block content %}

    <h1>This is the about page</h1>
    <div>
        This app is developed by University of Glasgow Students to help out new students in Glasgow to search for cheap deals.
        <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        It can be hard for students to find discounts and offers. That is why we have developed this app with the hope of giving students the best offers possible. <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
  
    

    {% endblock %}
