{% extends "rango/index.html" %}




<body>
    {% block content %}
    <div>
        {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul class="list-group list-group-item-action active">
            {% for page in pages %}
            <li class="list-group-item"><a href="{{ page.url }}" target="_blank">{{ page.title }}</a></li>  
            {% endfor %}
        </ul>
        
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
        {% else %}
        The specified category does not exist.
        {% endif %}
    </div>

    {% endblock %}
</body>
